<!DOCTYPE html>
<html>
<head>
	<title>xhdev @ihuixu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="./bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>

<div class="container">

	<h2>CSS</h2>

	<div class="row show-grid" id="cssArea">

		<div class="span4" v-for="(k, value) in CSSData">
			<h3>{{ k }}</h3>
			<ol>
				<li v-for="v in value"><a href='./css/{{k}}/{{v}}.html'>{{v}}</a></li>
			</ol>
		</div>

	</div>

	<script>
	new Vue({
		el: '#cssArea',
		data: {
			CSSData: {
				'background-border':['多重边框', '背景条纹', '复杂的背景图案']
			}
		}
	})
	</script>

</div>

</body>
</html>
